.mat-toolbar{
	background-color: #169065;
	color: white;
	font-size: large;
  }

  .spacer{
	flex: 1 1 auto;
  }

  #appName{
	font-size: larger;
	color: #EECA0A;
  }

  #login-button{
	background-color: #169065;
	color: #EECA0A;
	font-size: medium;
	font-weight: bold;
	height: 45px;
	border: none;
	margin: 0px;
	margin-right: 10px;
  }

  #login-button:hover{
	background-color: #EECA0A;;
	color: #169065;
  }

  #signup-button{
	background-color: #169065;
	color: #EECA0A;
	font-size: medium;
	font-weight: bold;
	height: 45px;
	border: solid #EECA0A 2px;
	border-radius: 5px;
  }

  #signup-button:hover{
	background-color: #EECA0A;
	color: #169065;
	border: solid #169065 2px;
  }

  .material-icons{
	cursor: pointer;
	width: fit-content;
	height: fit-content;
	font-size: 30px;
  }